/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc66;
    text-align: center;
    padding: 20px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #ff6600;
}

/* Основной контент */
main {
    padding: 20px;
    text-align: center;
}

/* Таблица */
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 60%;
}

th, td {
    border: 1px solid #999;
    padding: 10px;
}

th {
    background-color: #ffeecc;
    text-align: center;
}

td:first-child {
    text-align: left;
}

td:last-child {
    text-align: right;
}

/* Галерея */
.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.gallery img {
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    width: 300px;
}

/* Футер */
footer {
    background-color: #ffcc66;
    text-align: center;
    padding: 10px;
}
